<!DOCTYPE html>
<html>
  <head>
    <title>Tshirt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%#= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%#= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    <%= yield %>
  </body>
</html>
